<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #FFFFFF"></span>
    <span class="sg-label">
      $nc--00 <br />
      #FFFFFF
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #999"></span>
    <span class="sg-label">
      $nc--25 <br />
      #999
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #666"></span>
    <span class="sg-label">
      $nc--50 <br />
      #666
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #333"></span>
    <span class="sg-label">
      $nc--75 <br />
      #333
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #000000"></span>
    <span class="sg-label">
      $nc--100 <br />
      #000000
    </span>
  </li>
</ul>
