<div class="container">
  {{>atoms-headings}}
  <main>
    {{>organisms-media-list}}
  </main>
  <aside class="">
    {{#asideBlog}}
      {{>organisms-media-list}}
    {{/asideBlog}}
  </aside>
</div>
