{{#blockMediaLoop}}
  <a href="{{url}}" class="{{addClass}} block-media">
    {{>atoms-img-square}}
    <div class="block-media__content">
      {{>atoms-headings}}
      {{>atoms-paragraph}}
    </div>
  </a>
{{/blockMediaLoop}}
